/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * termina:
 *   - http://typekit.com/eulas/00000000000000003b9adf1a
 *   - http://typekit.com/eulas/00000000000000003b9adf28
 *   - http://typekit.com/eulas/00000000000000003b9adf2a
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-02-18 10:28:28 UTC"}*/

@import url("../../p.css");

@font-face {
font-family:"termina";
src:url("../../af/da851f/00000000000000003b9adf1a/27/l") format("woff2"),url("../../af/da851f/00000000000000003b9adf1a/27/d") format("woff"),url("../../af/da851f/00000000000000003b9adf1a/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"termina";
src:url("../../af/298959/00000000000000003b9adf28/27/l") format("woff2"),url("../../af/298959/00000000000000003b9adf28/27/d") format("woff"),url("../../af/298959/00000000000000003b9adf28/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"termina";
src:url("../../af/a2d67f/00000000000000003b9adf2a/27/l") format("woff2"),url("../../af/a2d67f/00000000000000003b9adf2a/27/d") format("woff"),url("../../af/a2d67f/00000000000000003b9adf2a/27/a") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

.tk-termina { font-family: "termina",sans-serif; }
